<!doctype html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Video Party</title>
    <link rel="stylesheet" type="text/css" href="~/static/index.css" />
    <link rel="icon" href="data:,">
</head>
<body>
    <main>
        <div id="controls">
            <span>
                Turn
                <button type="button" id="subs">on</button>
                subtitles
            </span>
        </div>
        <div >
            <video width="720" height="576" 
                   id="player" controls playsinline preload="auto" src="/video/0">
            </video>
        </div>
        <div id="faces">
            <video id="local"></video>
        </div>
    </main>

    <script type="module" src="~/static/index.js"></script>
</body>
</html>