<!doctype html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Video Party</title>
    <link rel="stylesheet" type="text/css" href="~/static/index.css" />
    <link rel="icon" href="data:,">
</head>
<body>
    <main>
        <div id="player">
            <video controls playsinline preload="auto">
                <source type="video/webm" src="/video/01.webm" />
            </video> 
        </div>
        <div id="faces">
            <video id="local"></video>
        </div>
    </main>

</body>
</html>